.calculator-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 10px;
    background-color: white;

    .form-container {
        display: flex;
        gap: 15px; 
        max-width: 80%;  
        margin: 0 auto; 
        align-items: center;
    }

    .dropdown, 
    .input-field {
        padding: 15px 20px;
        font-size: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        width: 260px;
        background-color: white;
        color: black;
        outline: none;
        cursor: pointer;
    }

    .submit-btn,
    .add-btn {
        padding: 15px 30px;
        font-size: 1rem;
        background-color: #7399c6;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 180px;
        text-align: center;

        &:hover {
            background-color: #5b85b8;
        }
    }
}
