<div class="calculator-page">
    <div class="form-container">
        <select class="dropdown">
            <option disabled selected>Mutual Funds Tickers</option>
            <option value="VSMPX">VSMPX</option>
            <option value="FXAIX">FXAIX</option>
            <option value="VFIAX">VFIAX</option>
            <option value="VSTAX">VTSAX</option>
            <option value="SPAXX">SPAXX</option>
            <option value="VMFXX">VMFXX</option>
            <option value="FDRXX">FDRXX</option>
            <option value="FGTXX">FGTXX</option>
            <option value="FGTXX">FGTXX</option>
        </select>

        <input type="text" placeholder="Initial Investment $" class="input-field">

        <select class="dropdown">
            <option disabled selected>Time Horizon</option>
            <option value="1 Year">1 Year</option>
            <option value="3 Years">3 Years</option>
            <option value="5 Years">5 Years</option>
            <option value="10 Years">10 Years</option>
            <option value="15+ Years">15+ Years</option>
        </select>

        <button class="submit-btn">Submit</button>
        <button class="add-btn">Add Investment</button>
    </div>
</div>
