<div class="calculator-page">  

  <div class="form-container">
    <select class="dropdown" [(ngModel)]="selectedFund">
      <option value="" disabled selected>Add Mutual Fund here</option>
      <!-- *ngFor is a directive that iterates over a list of items -->
      <option *ngFor="let fund of mutualFunds" [value]="fund">{{ fund }}</option>
    </select>

    <input type="number" placeholder="$ Initial Investment" class="input-field" [(ngModel)]="initialInvestment">
    <!-- ngModel is a directive that binds the value of the input field to the initialInvestment property in the component class -->
    <select class="dropdown" [(ngModel)]="timeHorizon">
      <option value="" disabled selected>Choose Time Here</option>
      <option [value]="1">1 Year</option>
      <option [value]="3">3 Years</option>
      <option [value]="5">5 Years</option>
      <option [value]="10">10 Years</option>
      <option [value]="15">15+ Years</option>
    </select>

    <!-- calculateFutureValue is a method that calculates the future value of the investment. this is in the component class -->
    <button class="submit-btn" (click)="calculateFutureValue()">Submit</button>
    <button class="add-btn">Add Investment</button>
  </div>

  <div class="results-container" *ngIf="futureValue !== null">
    <div class="result-box">
      <p class="result-title">Future Value of Investment</p>
      <p class="result-value">${{ futureValue | number:'1.0-2' }}</p>
    </div>

    <div class="result-box">
      <p class="result-title">Beta</p>
      <p class="result-value">{{ beta | number:'1.4-4' }}</p>
    </div>

    <div class="result-box">
      <p class="result-title">Market Return Rate</p>
      <p class="result-value">{{ marketRate | percent:'1.2-2' }}</p>
    </div>

    <div class="result-box">
      <p class="result-title">Risk Free Rate</p>
      <p class="result-value">{{ riskFreeRate | percent:'1.2-2' }}</p>
    </div>
  </div>
</div>
