#container {
    display: flex; 
    padding: 30px 40px;  
    margin-bottom: 30px; 
    background-color: #7399c6;
    color: white;
    font-size: 1.5rem;  
    font-weight: bold;  

    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

    #title {
        flex-grow: 1; 
        font-size: 2rem;  
        font-weight: bold;  
        text-align: left;  
        padding-left: 20px;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: lightgray;
        }
    }
    
    #links { 
        flex-grow: 1; 
        display: flex; 
        gap: 20px; 
        justify-content: right;
        align-items: center;

        .link {
            padding: 10px 20px;  
            border: 1px solid white; 
            background-color: transparent;
            color: white;
            font-size: 1.2rem; 
            text-transform: uppercase; 
            cursor: pointer; 
            transition: all 0.3s ease-in-out;

            &:hover {
                color: grey;
                background-color: white; 
            }

            &.active {
                color: white;
                background-color: rgba(255, 255, 255, 0.2); 
                border-color: white; 
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
